    *{
      margin: 0; padding: 0;
    }
    
    /* 게임판 */
    section{
      border: 1px solid red;
      display: grid;
      grid-template-areas: 
        "header"
        "computer"
        "deck"
        "player"
        "control";
      grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
      width: 100%; height: 80vh;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), 
          url(./images/blackjack_table.jpeg);
      background-size: contain;
    }

    /* 게임 이름 */
    h1{
      grid-area: header;
      text-align: center; width: 100%;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      padding: 5px 0; margin-top: 1.5vh;
    }

    /* 위아래, card 설정 */
    .play{
      border: 1px solid black;
      display: flex;
      justify-content: center;
      padding-top: 2.5vh;
      width: 100%; height: 20vh;
    }
    .play.computer{
      grid-area: computer;
    }
    .play.user{
      grid-area: player;
    }
    .card{
      border: 1px solid black;
      border-radius: 1vw;
      width: 8.4rem; height: 11.9rem;
      margin: auto 1.5vw;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
    }

    /* 가운데 */
    .deck{
      grid-area: deck;
      border: 1px solid blue;
      width: 100%; height: 25vh;
      display: flex; position: relative;
      justify-content: center;
    }
    .deck.card{
      background-image: url(./images/back.gif);
      background-position: center;
    }
    .rule{
      border: 1px solid yellow;
      position: absolute;
      top: 1.5vh; right: 2vw;
      width: 25vw; height: 20vh;
      background-color: white;
      border-radius: 1vw;
      padding: 1vw;
      font-size: 0.9rem;
    }

    /* 맨 밑 */
    .control{
      border: 1px solid yellow;
      width: 100%; height: 9vh;
      display: flex; 
      justify-content: center; align-items: center;
      gap: 5vw;
      position: relative;
    }
    .button{
      width: 12vw; height: 4vh;
      font-size: 1.6vw; font-weight: bold; line-height: 1.6vw;
      cursor: pointer; overflow: hidden;
      border-radius: 1vw;
    }
    .button.gameStart{
      position: absolute;
      top: 2.5vh; left: 2vw;
    }
    .money{
      position: absolute;
      top: 0.5vh; right: 3vw;
      text-align: left;
      justify-items: end;
      font-size: 1.6vw; line-height: 3vh; 
    }
    .show{
      width: 18vw; height: 3vh; padding: 0.1rem 0.1rem 0.1rem 1rem;
      background-color: white; 
      border-radius: 0.5vw;
    }
    .bet{
      margin-bottom: 1vh; display: flex;
      align-items: center;
    }
    .bet input{
      width: 9.8vw; line-height: 2vh;
      margin-left: 0.5rem; border: 0px;
    }

    #deposit{
      margin-left: 0.5rem;
    }